body{
    background-color: rgb(226, 226, 226);
}


button.ruta{
    background-color: black;
    margin-top: 20px;
    width: 50vh;
    height: 100px;
    color: white;
    border: transparent;
    font-size: 50px;
}

a.boton{
   
    text-decoration: none;
}

.ruta:hover{
    background-color: rgb(133, 133, 138);
    color: rgb(182, 182, 182);
}




.texto{
    padding-left: 20px;
    text-align: left;
}

